{% extends 'base.html' %}

{% block content %}

<div>
    <div style="text-align:center;max-width:500px; margin: 4rem auto;">
        <h6>
            가입일시
        </h6>
        <p>
            {{target_user.date_joined}}
        </p>


        {% if target_user.profile %}
        <img src="{{ target_user.profile.image.url}}"alt=""
             style="height:12rem;width:12rem;border-radius: 20rem; margin-bottom:2rem; object-fit:cover;
box-shadow: 0 0 20px #ccc;">

        <h2 style="font-family: 'NanumBarunpenB'">
            {{target_user.profile.nickname}}
            {% if target_user == user %}
            <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}" class="material-icons"
            style = "box-shadow: 0 0 4px #ccc; boder-radius:10rem; padding: .4rem;">
                edit
            </a>
            {% endif %}
        </h2>

        <h5  style="margin-bottom:3rm">
            {{ target_user.profile.message}}
        </h5>

        {% else %}

        {% if target_user == user %}
        <a href="{% url 'profileapp:create' %}">
            <h2 style="font-family: 'NanumBarunpenB'">
                Create Profile
            </h2>
        </a>
        {% else %}
            <h1> 프로필이 존재하지 않습니다. </h1>
        {% endif %}
        {% endif %}


        {% if target_user == user %}
        <a class="material-icons"
           style = "box-shadow: 0 0 4px #ccc; boder-radius:10rem; padding: .4rem;"
           href="{% url 'accountapp:update' pk=user.pk %}">
                settings
        </a>
        <a href="{% url 'accountapp:delete' pk=user.pk %}"
           class="material-icons"
           style = "box-shadow: 0 0 4px #fcc; boder-radius:10rem; padding: .4rem;">
                cancel
        </a>
        {% endif %}

    </div>

    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>

</div>

{% endblock %}