
    <div class="header">
        <div>
            <h1 class="logo"> JOFTWARE </h1>
        </div>
        <div>
            <a href="{% url 'articleapp:list' %}">
                <span>Articles</span>
            </a>
            <span> Projects |</span>
            <span> Subscriptions |</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{request.path}}">
                <span>Log in |</span>
            <a href="{% url 'accountapp:create' %}">
                <span>Sign up</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>My page |</span>
            </a>

            <a href="{% url 'accountapp:logout' %}?next={{request.path}}">
                <span>logout</span>
            </a>
            {% endif %}

        </div>

    </div>